<mat-toolbar color="primary">
  <mat-toolbar-row>
    <wooo-logo [title]="title"></wooo-logo>
    <div class="filler"></div>
    <div class="dev-tools" *ngIf="isDevelop">
      <button type="button" mat-mini-fab (click)="restore()">
        <span class="fa-icon-host">
          <fa-icon [icon]="['fas', 'bug']" size="1x"></fa-icon>
        </span>
      </button>
      <button type="button" mat-mini-fab (click)="destroy()">
        <span class="fa-icon-host">
          <fa-icon [icon]="['fas', 'trash']" size="1x"></fa-icon>
        </span>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="toolbar-bar"></div>
