:host{
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,.5), 0 -3px 1px 0 rgba(0,0,0,.25), 0 -2px 3px 0 rgba(0,0,0,.25);

  z-index: 1;

  .mat-toolbar-row{
    height: 70px;
    justify-content: space-evenly;
  }

  .bottombar-bar{
    background: #ffc107;
    height: 10px;
    flex-grow: 1;
    font-size: .5em;
    display: flex;
    place-content: flex-end;
    padding-right: 5px;
  }
}
