<div class="bottombar-bar">{{appVersion}}</div>
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button type="button" mat-fab *ngIf="addUserVisible">
      <span class="fa-icon-host" routerLink="/new">
        <fa-icon [icon]="['fas', 'user-plus']" size="2x"></fa-icon>
      </span>
    </button>

    <button type="button" mat-fab routerLink="/break" *ngIf="breakVisible" [disabled]="checkedMembers?.length < 2">
      <span class="fa-icon-host">
        <fa-icon [icon]="['fas', 'coffee']" size="2x"></fa-icon>
      </span>
    </button>

    <button type="button" mat-fab *ngIf="goHomeVisible" routerLink="/">
      <span class="fa-icon-host">
        <fa-icon [icon]="['fas', 'chevron-circle-left']" size="2x"></fa-icon>
      </span>
    </button>

    <button type="button" mat-fab *ngIf="undoVisible" (click)="undo()" [disabled]="!payEnabled">
      <span class="fa-icon-host">
        <fa-icon [icon]="['fas', 'undo-alt']" size="2x"></fa-icon>
      </span>
    </button>

    <button type="button" mat-fab *ngIf="payVisible" (click)="addPayment()" [disabled]="!payEnabled">
      <span class="fa-icon-host">
        <fa-icon [icon]="['fas', 'shopping-cart']" size="2x"></fa-icon>
      </span>
    </button>

    <button type="button" mat-fab *ngIf="statsVisible" routerLink="/stats">
      <fa-icon [icon]="['far', 'chart-bar']" size="2x"></fa-icon>
      <span class="fa-icon-host">
      </span>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
