
$portrait-measure: 40px;
$accent: rgb(205, 220, 57);
$warn:rgb(255, 193, 7);
$alpha: .5;

$selected: rgba($warn, $alpha);
$checked: rgba($accent, $alpha);

:host{
  form{
    width: calc(100vw);

    .mat-list{
      padding-top: 0!important;
    }
  }

  .mat-list .mat-list-item{
    height: 70px;
    &.selected{
      animation: slideToDeleteAnimation .1s ease-in;
      background: linear-gradient(-270deg, $selected, #ffffff);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 100% 50%;
      @keyframes slideToDeleteAnimation {
        from {
            background-size: 0%;

          }
        to {
            background-size: 100%;
          }
      }
    }
    &.checked{
      animation: slideToSelectAnimation .1s ease-in;
      background: linear-gradient(270deg, $checked, #ffffff);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0% 50%;
      @keyframes slideToSelectAnimation {
        from {
            background-size: 0%;
          }
        to {
            background-size: 100%;
          }
      }
    }
    &.choosed{
      background: $warn;
    }
    .mat-list-item-content{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  .btn-host{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    place-content: space-between;
    align-items: center;

    .fa-icon-host{
      display: inline-flex;
      box-shadow:0 4px 2px -2px rgba(0,0,0,.5),0 3px 1px 0 rgba(0,0,0,.25),0 2px 3px 0 rgba(0,0,0,.05);
      height: $portrait-measure;
      width: $portrait-measure;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;

      align-content: center;
      background: #fff;

      &.--small{
        place-content: center;
      }
      &.--highlighted{
        color: $warn;
      }

      .portrait-image{
        height: $portrait-measure;
        width: $portrait-measure;
        border-radius: 50%;
        box-shadow:0 4px 2px -2px rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.25),0 1px 3px 0 rgba(0,0,0,.25);
      }

      .fa-icon-member{
        color: $warn;
        stroke: black;
        stroke-width: 10;
      }

      .fa-icon-member-trash{
        // color: #ccc;
        color: #cc0000;
        stroke: black;
        stroke-width: 2;
      }

      .fa-icon-chevron-right{
        color: #00cc00;
        stroke: black;
        stroke-width: 2;
      }

      button, strong{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    .partial-purchase-host{
      display: flex;
      flex-direction: row;
      justify-items: center;
      place-content: center;
      align-content: center;
      justify-content: flex-end;

      button{
          display: flex;
          flex-direction: column;
          width: 30px;
          height: 30px;
          margin: 0 5px;
          place-content: center;
          align-content: center;
          place-items: center;

        .bar-icon{
          width: calc(30px / 2);
          height: calc(30px / 2);
        }
      }

    }
  }
}
