:host{
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  align-content: center;
  place-items: center;

  .coffee-row{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    place-items: center;
    justify-content: space-between;

    .purchase-column{
      display: flex;
      place-content: center;
      width: 25%;

      .spent.mat-form-field{
        width: 70px;
      }
    }
    .goods-column{
      display: flex;
      width: 60%;
      justify-content: space-around;

      .bar-icon{
        width: 30px;
        height: 30px;
      }
    }
    .pay-column{
      display: flex;
      width: 15%;
      justify-content: space-around;

      .bar-icon{
        width: 30px;
        height: 30px;
      }
    }
  }
}
