<div class="view-port">
  <div class="toolbar-host">
    <wooo-toolbar [title]="title"></wooo-toolbar>
  </div>
  <div class="router-host">
    <router-outlet></router-outlet>
  </div>
  <div class="bottombar-host">
    <wooo-bottombar></wooo-bottombar>
  </div>
</div>
