$toolbar-h-px: 70px;
$bottombar-h-px: 70px;

:host{
      flex-grow: 1;
      flex-direction: row;
      display: flex;
      height: 100vh;
      position: fixed;

    .view-port{
      flex-grow: 1;
      flex-direction: column;
      display: flex;
      height: 100vh;
      background: #795548;
    .toolbar-host{
      flex-direction: row;
      display: flex;
      height: $toolbar-h-px;
      width: 100vw;
    }
    .router-host{
      flex-direction: row;
      display: flex;
      height: calc(100vh - 145px);
      width:  100vw;
      background: #fff;

    }
    .bottombar-host{
      flex-direction: row;
      display: flex;
      height: $bottombar-h-px;
      width: 100vw;
    }
  }
}
