:host{
  .logo-host{
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #333;
      border: 4px solid #cddc39;
      padding: 5px;
      text-align: center;

    }

    .title{
      font-size: 1.5em;
      font-weight: 600;
      margin-left: 5px;
      text-transform: uppercase;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}
