:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h3{
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
    &.page-title{
      padding: 10px 20px 10px;
      color: #fff;
      text-align: right;
    }
  }

  .form-host-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 20px 20px;

    form{
      width: 100%;
      display: flex;
      flex-direction: column;

      .crew-member-form-field{
        display: flex;
        align-content: center;
        justify-content: center;

        .mat-form-field {
          width: 100%;
        }
      }

      .crew-member-form-field--portrait{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .portrait{
        border: 5px solid transparent;
        border-radius: 50%;
        width: 33vw;
        min-height: 120px;
        margin: 50px;
        box-shadow:0 4px 2px -2px rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.25),0 1px 3px 0 rgba(0,0,0,.25);
        transition: .3s ease-in-out;

        &.--pulse-male{
          border-color: rgba(100, 149, 237, 1);
          animation: pulse-male 5s linear infinite;
        }
        &.--pulse-female{
          border-color: rgba(255, 192, 203, 1);
          animation: pulse-female 3s linear infinite;
        }
        @keyframes pulse-male {
          0%{
            box-shadow: 0 0 0 0 rgba(100, 149, 237, .7), 0 0 0 0 rgba(100, 149, 237, .7);
          }
          40%{
            box-shadow: 0 0 0 50px rgba(100, 149, 237, 0), 0 0 0 0 rgba(100, 149, 237, .7);
          }
          80%{
            box-shadow: 0 0 0 50px rgba(100, 149, 237, 0), 0 0 0 30px rgba(100, 149, 237, 0);
          }
          100%{
            box-shadow: 0 0 0 0 rgba(100, 149, 237, 0), 0 0 0 30px rgba(100, 149, 237, 0);
          }
        }
        @keyframes pulse-female {
          0%{
            box-shadow: 0 0 0 0 rgba(255, 192, 203, .7), 0 0 0 0 rgba(255, 192, 203, .7);
          }
          40%{
            box-shadow: 0 0 0 50px rgba(255, 192, 203, 0), 0 0 0 0 rgba(255, 192, 203, .7);
          }
          80%{
            box-shadow: 0 0 0 50px rgba(255, 192, 203, 0), 0 0 0 30px rgba(255, 192, 203, 0);
          }
          100%{
            box-shadow: 0 0 0 0 rgba(255, 192, 203, 0), 0 0 0 30px rgba(255, 192, 203, 0);
          }
        }
      }

      .form-filler{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
      }

      .form-actions-host{
        display: flex;
        flex-direction: row;
        place-content: space-evenly;
      }

      .invalid-feedback{
        color: #ff0000;
        font-size: .8em;
        padding-bottom: 20px;
      }
    }
  }

  #arrowAnim {
    opacity:.5;
  }
  #backarrowAnim {
    opacity:.5;
  }

  .arrow {
    width: 2.5vw;
    height: 2.5vw;
    border: 2.5vw solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
    opacity: .07;

  }

  .back-arrow {
    width: 2.5vw;
    height: 2.5vw;
    border: 2.5vw solid;
    border-color: black transparent transparent black;
    transform: rotate(135deg);
    opacity: .07;

  }



  .arrowSliding {
    position: absolute;
    animation: slide 4s linear infinite;
  }

  .backarrowSliding {
    position: absolute;
    animation: back-slide 4s linear infinite;
  }

  .delay1 {
      animation-delay: .5s;
  }
  .delay2 {
      animation-delay: 1s;
  }
  .delay3 {
      animation-delay: 1.5s;
  }

  @keyframes slide {
      0% { opacity:0; transform: translateX(7vw); }
    20% { opacity:.5; transform: translateX(3vw); }
    80% { opacity:.5; transform: translateX(-3vw); }
    100% { opacity:0; transform: translateX(-7vw); }
  }
  @keyframes back-slide {
      0% { opacity:0; transform: translateX(-7vw); }
    20% { opacity:.5; transform: translateX(-3vw); }
    80% { opacity:.5; transform: translateX(3vw); }
    100% { opacity:0; transform: translateX(7vw); }
  }
}
