<!-- <h3 class="mat-toolbar mat-accent page-title">{{title}}</h3> -->

<div class="form-host-container">
  <form novalidate [formGroup]="memberForm" (ngSubmit)="saveDetail()" ngxsForm="paydoodb.memberForm"
    ngxsFormClearOnDestroy="true">

    <div class="crew-member-form-field--portrait">
      <!-- <div>
        <fa-icon style="color:#ccc" [icon]="['fas', 'chevron-circle-right']" size="2x"></fa-icon>
      </div> -->

      <div id="backarrowAnim">
        <div class="backarrowSliding">
          <div class="back-arrow"></div>
        </div>
        <div class="backarrowSliding delay1">
          <div class="back-arrow"></div>
        </div>
        <div class="backarrowSliding delay2">
          <div class="back-arrow"></div>
        </div>
        <div class="backarrowSliding delay3">
          <div class="back-arrow"></div>
        </div>
      </div>

      <img #imgPortrait class="portrait" src="{{portrait}}" [ngClass]="{'--pulse-male': gender === 'male', '--pulse-female': gender === 'female'}"
        (tap)="changePortrait()" (swipeRight)="onSwipeRight($event)" (swipeLeft)="onSwipeLeft($event)" />

      <div id="arrowAnim">
        <div class="arrowSliding">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay1">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay2">
          <div class="arrow"></div>
        </div>
        <div class="arrowSliding delay3">
          <div class="arrow"></div>
        </div>
      </div>
      <!--
      <div>
        <fa-icon style="color:#ccc" [icon]="['fas', 'chevron-circle-left']" size="2x"></fa-icon>
      </div> -->

    </div>
    <div class="crew-member-form-field">
      <mat-form-field>
        <input matInput class="form-control" #memberName type="text" placeholder="name" formControlName="name" (blur)="blur()"
          [ngClass]="{'is-invalid': displayMessage.nickName }" />
      </mat-form-field>
    </div>
    <div class="invalid-feedback" *ngIf="displayMessage?.name">{{ displayMessage?.name }}</div>
    <div class="form-filler"></div>
    <div class="form-actions-host">
      <button mat-fab color="accent" type="submit" [disabled]="!memberForm.valid || !memberForm.dirty">
        <fa-icon [icon]="['fas', 'save']" size="2x"></fa-icon>
      </button>
    </div>
  </form>
</div>
