@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import '~@angular/material/theming';
@include mat-core();

$wooo-theme-primary: mat-palette($mat-brown);
$wooo-theme-accent: mat-palette($mat-amber);
$wooo-theme-warn: mat-palette($mat-lime);
$wooo-theme: mat-light-theme($wooo-theme-primary, $wooo-theme-accent, $wooo-theme-warn);
@include angular-material-theme($wooo-theme);


$p1: mat-color($wooo-theme-accent, 1);

html, body, app-root {
  height: 100vh;
}
body {
  margin: 0; font-family: 'Roboto', sans-serif;

  .mat-snack-bar-container{
    background: $p1;
    text-transform: uppercase;
  }

  fa-icon{
    color:#333;
  }
 }

