<div class="break-column">
  <wooo-purchase [amount]="currentPayment?.amount"></wooo-purchase>
  <div class="separator-row"></div>

  <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
    (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
  <div class="snapshot" *ngIf="webcamImage">
    <!-- <h2>Nice one!</h2> -->
    <img [src]="webcamImage.imageAsDataUrl" />
  </div>
  <!-- <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul> -->
  <div class="members-row">
    <wooo-members [members]="checkedMembers" [selectable]="false" [deletable]="true"></wooo-members>
  </div>
</div>
<div style="display: none">Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>
  from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
