:host{
  height: calc(100vh - 150px);
  .break-column{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);

    .members-row{
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      // height: calc(50vh - 10px);
      overflow-y: auto;
    }

    .separator-row{
      display: flex;
      flex-direction: row;
      z-index: 2;
      height: 10px;
      background: #ffc107;
      border-top: 1px solid #795548;
      box-shadow: 0 4px 2px -2px rgba(0,0,0,.5), 0 3px 1px 0 rgba(0,0,0,.25), 0 2px 3px 0 rgba(0,0,0,.25);
    }

    .coffee-row{
      display: flex;
      flex-direction: row;
      // height: calc(50vh - 10px);

      height: calc(200px);
      .mat-grid-list{
        flex-grow: 1;
        .bar-icon{
          width: 30px;
        }
      }
    }
  }
.break-column{
  webcam{
    top: -1000px;
    left: -1000px;
    z-index: 9996!important;
    position: absolute;

  .webcam-wrapper{
    top: -1000px;
    left: -1000px;
    z-index: 9996!important;
    position: absolute;

      video{
        top: -1000px;
        left: -1000px;
        z-index: 9996!important;
      }
      }
    }
  }

}
